{
	order upload before file_server
}

:80 {
	root * /srv
	header Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	file_server {
		browse /index.tmpl
	}
	upload /upload POST {
		dest_dir /
		file_field_name file
	}
}
